<div class="ef-row ef-row-align-start ef-row-justify-start">
	<div class="ef-col-12">
		<input class="ef-input ef-input-size-medium text" type="text" clearable="true" placeholder="字段名">
	</div>
	<div class="ef-col-12">
		<div>12 - 50%</div>
	</div>
</div>
