/**
 * Button
 */

br {
  display: block;
  margin: 10px 0;
  line-height:22px;
  content: " ";
}

.btn.primary {
  color: #fff;
  background-color: rgb(22,93,255);
  border: 1px solid transparent;
}

.btn.primary:hover {
  color: #fff;
  background-color: rgb(64,128,255);
  border-color: transparent;
}

.btn.green {
  color: #fff;
  background-color: rgb(0,180,42);
  border-color: transparent;
}

.btn.green:hover {
  color: #fff;
  background-color: rgb(35,195,67);
  border-color: transparent;
}

.btn.orange {
  color: #fff;
  background-color: rgb(255,125,0);
  border-color: transparent;
}

.btn.orange:hover {
  color: #fff;
  background-color: rgb(255,154,46);
  border-color: transparent;
}

.btn.red {
  color: #fff;
  background-color: rgb(245,63,63);
  border-color: transparent;
}

.btn.red:hover {
  color: #fff;
  background-color: rgb(247,101,96);
  border-color: transparent;
}

.btn.secondary {
  color: rgb(78,89,105);
  background-color: rgb(242,243,245);
  border: 1px solid transparent;
}

.btn.secondary:hover {
  color: rgb(78,89,105);
  background-color: rgb(229,230,235);
  border-color: transparent;
}

.btn.outline {
  color: rgb(22,93,255);
  background-color: transparent;
  border: 1px solid rgb(22,93,255);
}

.btn.outline:hover {
  color: #fff;
  background-color: rgb(22,93,255);
  border: 1px solid #fff;
}

.btn {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  font-weight: 400;
  line-height: 1.5715;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  transition: all .1s cubic-bezier(0,0,1,1);
  -webkit-appearance: none;
  user-select: none;
}

.btn.medium {
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: .28571429rem;
}

.btn.medium.only-icon {
  height: 32px;
  width: 32px;
  padding: 0;
}

.btn.icon:not([class*="circle"]) i {
  margin: 0 6px;
}

.btn.round {
  border-radius: 16px;
}

.btn.circle {
  width: 32px;
  height: 32px;
  padding: 0;
  text-align: center;
  border-radius: 50%;
}

.btn.circle i {
  margin-right: 0px;
}

.btn.mini {
  height: 24px;
  padding: 0 11px;
  font-size: 12px;
  border-radius: 2px;
}

.btn.small {
  height: 28px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 2px;
}

.btn.large {
  height: 36px;
  padding: 0 19px;
  font-size: 14px;
  border-radius: 2px;
}

.btn.primary.disabled {
  color: #fff;
  background-color: rgb(148,191,255);
  border: 1px solid transparent;
  cursor: not-allowed;
}

.btn.secondary.disabled {
  color: rgb(201,205,212);
  background-color: rgb(247,248,250);
  border: 1px solid transparent;
  cursor: not-allowed;
}

.btn.outline.disabled {
  color: rgb(148 191 255);
  background-color: transparent;
  border: 1px solid rgb(148 191 255);
  cursor: not-allowed;
}

@keyframes ef-loading-circle {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-loading {
  animation: ef-loading-circle 1s infinite cubic-bezier(0, 0, 1, 1);
}

.btn.long {
  display: block;
  width: 100%;
}

.ef.buttons {
  display: webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 0;
  vertical-align: baseline;
  margin: 0 0.25em 0 0;
}

.ef.buttons .btn:first-child {
  border-left: none;
  margin-left: 0;
  border-top-left-radius: .28571429rem;
  border-bottom-left-radius: .28571429rem;
}

.ef.buttons .btn {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0;
  border-radius: 0;
}

.ef.buttons .or {
  position: relative;
  width: 0.2em;
  height: 32px;
  z-index: 3;
  font-size: 0.9rem;
}

.ef.buttons .or:before {
  position: absolute;
  text-align: center;
  border-radius: 500rem;
  content: 'or';
  top: 50%;
  left: 50%;
  background-color: #fff;
  text-shadow: none;
  margin-top: -11px;
  margin-left: -11px;
  width: 22px;
  height: 22px;
  line-height: 1.48571429em;
  color: rgba(0,0,0,.4);
  font-style: normal;
  font-weight: 700;
  -webkit-box-shadow: 0 0 0 1px transparent insert;
  box-shadow: 0 0 0 1px transparent inset;
}

.ef.buttons .btn:last-child {
  border-top-right-radius: .28571429rem;
  border-bottom-right-radius: .28571429rem;
}

.ef.buttons .primary.rightline {
  border-right: 1px solid rgb(64,128,255);
}

.ef.buttons .secondary.rightline {
  border-right: 1px solid rgb(200, 200, 200);
}

.ef.label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 0.14285714em;
  background-color: #e8e8e8;
  background-image: none;
  padding: 4px 15px;
  color: rgba(0,0,0,.6);
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: 0.28571429rem;
  -webkit-transition: background .1s ease;
  transition: background .1s ease;
}

.ef.labeled.btn {
  display: inline-flex;
  flex-direction: row;
  background: 0 0!important;
  padding: 0!important;
  border: none!important;
  box-shadow: none!important;
  font-size: 1rem;
}

.ef.labeled.btn:not([class*="left labeled"])>.btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: bolder;
}

.ef.labeled.btn>.btn {
  margin: 0;
}

.ef.btn.red {
  padding: 4px 15px;
  background-color: #db2828;
  color: #fff;
  text-shadow: none;
  background-image: none;
  box-shadow: 0 0 0 0 rgb(34,36,38/15%) inset;
}

.ef.btn>.icon {
  margin: 0 0.42857143em 0 -0.21428571em;
  height: 0.85714286em;
  opacity: .8;
  margin: 0 0.42857143em 0 -0.21428571em;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
  vertical-align: '';
  color: '';
  font-size: 1em;
}

i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0 0.25rem 0 0;
  width: 1.18em;
  height: 1em;
  font-family: Icons;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ef.basic.red.label {
  background: none #fff!important;
  color: #db2828!important;
  border-color: #db2828!important;
}

.ef.labeled.btn>.label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0 -1px!important;
  padding: '';
  font-size: .9em;
  border-color: rgba(34,36,38,.15);
}

.ef[class*="left pointing"].label {
  margin-top: 0;
  margin-left: 0.6666em;
}

.ef.pointing.label, .ui[class*="pointing above"].label {
  margin-top: 1em;
}

.ef.pointing.label {
  position: relative;
}

.ef.basic.label {
  background: none #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ef.labeled .btn>i {
  margin-right: 6px;
}

.ef.basic[class*="left pointing"].label:before {
  top: 50%;
  left: -1px;
  margin-top: -1px;
  border-color: inherit;
  border-width: 0 0 1px 1px;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  bottom: auto;
  right: auto;
  position: absolute;
  content: '';
  background-image: none;
  z-index: 2;
  width: 0.6666em;
  height: 0.6666em;
  transition: background .1s ease;
  background-color: inherit;
  border-style: solid;
}

.btn.style1 {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgb(255 255 255 / 40%) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn.style2 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgb(255 255 255 / 70%) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.btn.style3 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: din-round,sans-serif;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 5px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn.style3:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -5px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn.style4 {
  font-weight: 700;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgb(151 65 252 / 20%) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  justify-content: center;
  line-height: 1em;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}



