.ef-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.ef-form-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.ef-form .ef-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.ef-form .ef-row-align-start {
  align-items: center;
}

.ef-form .ef-row-justify-start {
  justify-content: flex-start;
}

.ef-form-item-label-col {
  padding-right: 16px;
}

.ef-form-item-label-col {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  line-height: 32px;
  white-space: nowrap;
}

.ef-form-item-label-col>.ef-form-item-label {
  max-width: 100%;
  color: rgb(78,89,105);
  font-size: 14px;
  white-space: normal;
}

.ef-form-item-wrapper-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-width: 0;
  min-height: 32px;
}

.ef-col {
  box-sizing: border-box;
}

.ef-form-item-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.ef-form-item-content {
  flex: 1;
  max-width: 100%;
  min-height: 32px;
}

.ef-form-item-content-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ef-space-align-center {
  align-items: center;
}

.ef-space {
  display: inline-flex;
}

.ef-space-horizontal .ef-space-item {
  display: flex;
  align-items: center;
}

.ud__col {
  box-sizing: border-box;
  max-width: 100%;
  min-height: 1px;
  position: relative;
}

.ud__form__item .ud__form__item__label {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  justify-content: flex-end;
  white-space: nowrap;
}

.ud__col-span-24.ud__form__item__label, .ud__col-xl-span-24.ud__form__item__label, .ud__form-vertical .ud__form__item__label {
  justify-content: flex-start;
  line-height: 1.5715;
  padding: 0 0 8px;
  white-space: normal;
}

.ud__form__item__label>label {
  align-items: center;
  box-sizing: border-box;
  color: #1f2329;
  display: inline-flex;
  font-size: 14px;
  height: 22px;
  position: relative;
}

.ud__form-md .ud__form__item__label>label {
  height: 32px;
}

vertical .ud__form__item__label>label {
  height: auto;
  margin: 0;
}

.ud__form__item__label>label.ud__form__item-required>.ud__form__item__required-mark {
  -webkit-margin-start: 2px;
  color: #f54a45;
  display: inline-block;
  font-family: SimSun, sans-serif;
  font-size: 14px;
  margin-inline-start: 2px;
  width: 8px;
}

.ef-field-control-wrapper {
  min-height: 32px;
  display: flex;
  align-items: center;
}

/* .ef-input-wrapper {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  color: rgb(29,33,41);
  font-size: 14px;
  background-color: rgb(242,243,245);
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: text;
  transition: color .1s cubic-bezier(0,0,1,1),border-color .1s cubic-bezier(0,0,1,1),background-color .1s cubic-bezier(0,0,1,1);
} */
