.ef-link {
  display: inline-block;
  padding: 1px 4px;
  color: rgb(22,93,255);
  font-size: 14px;
  line-height: 1.5715;
  text-decoration: none;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
  transition: all .1s cubic-bezier(0,0,1,1);
}

.ef-link:hover {
  color: rgb(22,93,255);
  background-color: rgb(242,243,245);
}

.ef-link.disabled {
  color: rgb(148,191,255);
  background: none;
  cursor: not-allowed;
}

.ef-link.success {
  color: rgb(0,180,42);
}

.ef-link.success:hover {
  color: rgb(0,180,42);
}

.ef-link.success.disabled {
  color: rgb(123,225,136);
}

.ef-link.warning {
  color: rgb(255,125,0);
}

.ef-link.warning:hover {
  color: rgb(255,125,0);
}

.ef-link.warning.disabled {
  color: rgb(255,228,186);
}

.ef-link .disabled {
  background: none;
  cursor: not-allowed;
}

.ef-link.danger {
  color: rgb(245,63,63);
}

.ef.danger:hover {
  color: rgb(245,63,63);
}

.ef-link.danger.disabled {
  color: rgb(251,172,163);
}

.ef-link.icon i {
  margin-right: 6px;
  font-size: .6em;
}