<html>
	<head>
		<meta charset="UTF-8">
		<meta name="session" session="19amg99nqbcvf6pc0lpjdv3ova">
		<title>
			Welcome!
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="/lib/font-awesome-642/css/all.min.css">
		<link rel="stylesheet" href="/lib/jquery-ui/jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="/sunui/components/button.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/input-number.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/input.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/select.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/department.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/switch.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/radio.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/checkbox.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/textarea.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/link.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/divider.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/grid.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/layout.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/modal.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/form.css?v={{ random() }}">
		<link rel="stylesheet" type="text/css" href="/sunui/components/tabs.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/tree.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/table.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/drawer.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/label.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/components/alert.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">

		<link rel="stylesheet" type="text/css" href="/sunui/admin/layout.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">

		<link rel="stylesheet" type="text/css" href="/sunui/admin/organization/department.css?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d">
		<link rel="stylesheet" type="text/css" href="/sunui/admin/platform/entity.css?v={{ random() }}">


		<script src="/lib/jQuery/jquery-3.6.1.min.js"></script>
		<script src="/lib/jquery-ui/jquery-ui.min.js"></script>
		<script src="/lib/jquery-validation/jquery.validate.min.js"></script>
		<script src="/lib/lodash/lodash.min.js"></script>
		<script src="/lib/keypress/keypress-2.1.5.min.js"></script>
		<script src="/lib/localForage/localforage.min.js"></script>
		<script src="/lib/ef/base/route.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/lib/ef/base/jqueryplus.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/lib/ef/base/common.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/lib/ef/base/str.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/lib/pinyin/browser.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/sunui/components/input.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/sunui/components/input-number.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/sunui/components/switch.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/sunui/components/textarea.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/sunui/components/select.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/sunui/components/checkbox.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/sunui/components/radio.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/sunui/components/department.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/sunui/components/tabs.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/sunui/lib/components.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/sunui/components/drawer.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>
		<script src="/sunui/components/alert.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d"></script>


		<script>
			// 初始化 localforage 数据库名
localforage.config({name: 'EnterpriseFramework'});

$(document).ready(function () {
$(".hPerson-avatar-box").on("click", function () {
$(".dropdown-menu.hidden").toggle("slow", "swing");
});

$(".parent-menu .scroll-item").on("click", function (event) {
$(this).next().toggle("fast");
var icon = $(this).find('.link-text i');
icon.toggleClass(function () {
if (icon.hasClass("fa-chevron-down")) {
icon.removeClass("fa-chevron-down");
return "fa-chevron-up";
} else {
icon.removeClass("fa-chevron-up");
return "fa-chevron-down";
}
})
})
})
		</script>

		<script src=" /sunui/admin/platform/entity.js?v=a22fbd35a7ef1cb43e233903584f6372b7ebf24d "></script>

		<style>
			.outside-wrapper {
				padding-top: 0;
			}

			.ef-drawer-body .ef-col-24 {
				margin-bottom: 10px
			}
		</style>
		<style type="text/css">
			.clearly-login-pop {
				user-select: none;
				position: fixed;
				right: 32px;
				top: 32px;
				width: 350px;
				border-radius: 16px;
				background-color: #fff;
				border: 1px solid rgba(0, 0, 0, 0.2);
				z-index: 2147483648;
				padding: 20px;
			}
			.clearly-login-pop-head {
				margin-bottom: 16px;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.clearly-login-pop-head i {
				cursor: pointer;
			}
			.clearly-login-pop-title {
				font-size: 16px;
				font-weight: bold;
			}
			.clearly-login-pop .tcell {
				display: flex;
				align-items: center;
				justify-content: space-between;
				min-height: 50px;
				border-top: 1px solid rgba(0, 0, 0, 0.06);
			}
			.clearly-login-pop .tcell:first-child {
				border-top: 0;
			}
			.clearly-login-pop .tcell .form-label {
				box-sizing: border-box;
				display: flex;
				align-items: flex-start;
				font-size: 13px;
				color: rgba(0, 0, 0, 0.8);
			}
			.clearly-login-pop .tcell .form-label i {
				margin-right: 10px;
			}
			.clearly-login-pop .tcell .form-label .value {
				margin-left: 8px;
				font-size: 10px;
				color: rgba(0, 0, 0, 0.6);
			}
			.clearly-login-pop .tcell .form-group {
				margin-bottom: 0;
			}
			.clearly-login-pop .btn-group {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				margin-top: 12px;
			}
			.clearly-login-pop .btn-submit {
				height: 52px;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 4px;
				text-decoration: none;
				background-color: #333;
				color: #fff;
				border: 1px solid #333;
				font-size: 13px;
				height: 34px;
				padding: 0 10px;
			}
			.clearly-login-pop input.account-input {
				border-radius: 6px;
				font-size: 13px;
				border: 1px solid rgba(0, 0, 0, 0.2);
				height: 34px;
				padding: 0 12px;
				appearance: none;
				background: none;
				outline: none;
				color: rgba(0, 0, 0, 0.9);
				min-width: 200px;
			}
		</style>
		<style type="text/css">
			#clearly-edit-pop {
				background-color: rgba(0, 0, 0, 0.9);
				border-radius: 8px;
				padding: 5px 12px;
				color: #fff;
				font-size: 14px;
				display: inline-block;
				position: relative;
				cursor: pointer;
				user-select: none;
				position: absolute;
				z-index: 999999999;
			}
			#clearly-edit-pop .clearly-edit-pop-remove {
				cursor: pointer;
			}
			#clearly-edit-pop:after {
				content: '';
				display: block;
				border-style: solid;
				border-width: 5px;
				border-color: transparent;
				border-top-color: rgba(0, 0, 0, 0.9);
				position: absolute;
				margin-left: -5px;
				bottom: -10px;
				left: 50%;
			}
		</style>
		<style>
			type="text/css":root
			{
				--color-yellow: #FFD76F;
				--color-green: #34FFB6;
				--color-black: rgba(0, 0, 0, 0.9);
				--color-border: rgba(255, 255, 255, 0.1);
				--color-icon: rgba(255, 255, 255, 0.6);
				--color-icon-hover: rgba(255, 255, 255, 0.8);
				--color-text-gray: rgba(255, 255, 255, 0.6);
				--color-placeholder: rgba(255, 255, 255, 0.6);
				--color-light-hover: rgba(255, 255, 255, 0.1);
			}
			.clearly-mark {
				background-color: var(--color-yellow);
				color: black;
				cursor: pointer;
			}
			.clearly-image-collected {
				border-left: 8px solid var(--color-yellow);
			}
			#clearly-image-popup-icon,
			#clearly-popup-icon {
				background: #1C1A1A;
				position: absolute;
				border-radius: 8px;
				border: 1px solid #C1C1C1;
				cursor: pointer;
				z-index: 2147483648;
				overflow: hidden;
				display: flex;
				align-items: center;
				transition: all 0.2s linear;
			}
			#clearly-image-popup-icon:hover,
			#clearly-popup-icon:hover {
				background-color: #000;
			}
			#clearly-image-popup-icon .clearly-popup-icon-img,
			#clearly-popup-icon .clearly-popup-icon-img {
				width: 32px;
				height: 32px;
				background-size: 24px 24px;
				background-repeat: no-repeat;
				background-position: center;
				border-right: 1px solid rgba(255, 255, 255, 0.2);
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGrSURBVHgB7ZjRUcMwDIYVjgGyQbsBGSFswAbpJskGsEHYADbIMQHZIOkEhQmEfPZxIaRK5To2x+m700MTS9Xv2JZtAEVRFEVR/imImBuDDckgEC7RiqwgK8n2syY92Uj2SvaWZdno/A6Tth/0/Ali4nq5JjuhjJpsP3s2QExcAgOGQyzgFjyhPzNDpSPjxnjv7Oja3YEdYpvOi1Uu6PmOrGR8m1BfwFfAM5P8y4UxmiQCTM8yyQ+mhwWxuhQCOkZAK4xVRhWAv5e9OYUwpIl5ukaAdBXiEjRFqAc592BXpdHEACFSASXzzid58BT9zQ3I2DHvRkiAVEDaArSAVADHERIQUsAOEiAVIF4ltkYq4JN5J64BIZAK4Ja8PXjgimMl2YJ4YyrtSiUuQQj5HKaVGDc+gq7thTphrBx/bstF/l7Meuyqr0BtH2e+FcRg5SuYzVmx4p8vJB/vPIx24q0d4lu02+V84mN+12d84/T+RESB8puIczSQAgxzK9FAStCO58ZDyIAey+6mUEIPaA/870zSbcjEg10tLoF2Ahszp7U/t49SFEVRlOR8AQxUBgYyQX2vAAAAAElFTkSuQmCC');
			}
			#clearly-image-popup-icon .clearly-popup-text,
			#clearly-popup-icon .clearly-popup-text {
				padding: 0 10px;
				color: rgba(255, 255, 255, 0.8);
			}
			#clearly-video-icon {
				cursor: pointer;
				background: #2C2828;
				display: inline-block;
				align-items: center;
				margin: 0 8px;
				border-radius: 18px;
				height: 36px;
				position: relative;
				box-sizing: border-box;
				border: 2px solid rgba(255, 255, 255, 0.5);
				transition: all 0.2s linear;
			}
			#clearly-video-icon:hover {
				background-color: #000;
			}
			#clearly-video-icon .clearly-popup-icon-img {
				position: absolute;
				left: 4px;
				top: 50%;
				margin-top: -12px;
				width: 24px;
				height: 24px;
				background-size: contain;
				background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGrSURBVHgB7ZjRUcMwDIYVjgGyQbsBGSFswAbpJskGsEHYADbIMQHZIOkEhQmEfPZxIaRK5To2x+m700MTS9Xv2JZtAEVRFEVR/imImBuDDckgEC7RiqwgK8n2syY92Uj2SvaWZdno/A6Tth/0/Ali4nq5JjuhjJpsP3s2QExcAgOGQyzgFjyhPzNDpSPjxnjv7Oja3YEdYpvOi1Uu6PmOrGR8m1BfwFfAM5P8y4UxmiQCTM8yyQ+mhwWxuhQCOkZAK4xVRhWAv5e9OYUwpIl5ukaAdBXiEjRFqAc592BXpdHEACFSASXzzid58BT9zQ3I2DHvRkiAVEDaArSAVADHERIQUsAOEiAVIF4ltkYq4JN5J64BIZAK4Ja8PXjgimMl2YJ4YyrtSiUuQQj5HKaVGDc+gq7thTphrBx/bstF/l7Meuyqr0BtH2e+FcRg5SuYzVmx4p8vJB/vPIx24q0d4lu02+V84mN+12d84/T+RESB8puIczSQAgxzK9FAStCO58ZDyIAey+6mUEIPaA/870zSbcjEg10tLoF2Ahszp7U/t49SFEVRlOR8AQxUBgYyQX2vAAAAAElFTkSuQmCC');
			}
			#clearly-video-icon .clearly-popup-text {
				padding-left: 32px;
				padding-right: 12px;
				font-family: sans-serif;
				font-size: 14px;
				line-height: 32px;
				height: 32px;
				color: #FFFFFF;
			}
		</style>
		<style type="text/css">
			.tag-pane {
				position: absolute;
				width: 160px;
				border-radius: 16px;
				top: 40px;
				right: 0;
				padding-bottom: 8px;
				overflow: hidden;
				border: 1px solid var(--color-border);
				background-color: var(--color-bg);
				z-index: 99999999;
			}
			.tag-pane .item {
				height: 30px;
				line-height: 30px;
				padding: 0 16px;
				display: flex;
				align-items: center;
				color: var(--color-text);
				white-space: nowrap;
			}
			.tag-pane .item:hover {
				cursor: pointer;
				background-color: var(--color-hover);
			}
			.tag-pane .tag-search-input-container {
				padding: 16px;
			}
			.tag-pane .tag-search-input {
				display: block;
				height: 35px;
				line-height: 35px;
				border: 1px solid var(--color-yellow);
				padding-left: 12px;
				border-radius: 8px;
				box-sizing: border-box;
				width: 100%;
				color: var(--color-text);
				background-color: transparent;
				outline: none;
			}
			.tag-pane .tag-search-input::placeholder {
				color: var(--color-placeholder);
			}
			.tag-pane .icon-check,
			.tag-pane .icon-add {
				font-size: 18px;
				margin-right: 6px;
				color: var(--color-icon);
			}
			.tag-pane .icon-checked {
				color: var(--color-yellow);
			}
		</style>
		<style type="text/css">
			.collect-pop {
				position: fixed;
				border: 1px solid var(--color-gray-border);
				right: 32px;
				top: 32px;
				border-radius: 16px;
				background-color: var(--color-black);
				z-index: 2147483648;
			}
			.collect-pop .main {
				height: 60px;
				line-height: 60px;
				display: flex;
				align-items: center;
				color: #fff;
			}
			.collect-pop .save {
				padding: 0 20px;
				font-size: 16px;
				display: flex;
				align-items: center;
			}
			.collect-pop .save .icon-success {
				color: var(--color-green);
				font-size: 24px;
				margin-right: 8px;
			}
			.collect-pop .icon-tag {
				cursor: pointer;
				font-size: 20px;
				margin-left: 24px;
				margin-right: 20px;
				color: var(--color-icon);
			}
			.collect-pop .icon-tag:hover {
				color: var(--color-icon-hover);
			}
			.collect-pop .icon-more {
				font-size: 20px;
				cursor: pointer;
				color: var(--color-icon);
			}
			.collect-pop .icon-more:hover {
				color: var(--color-icon-hover);
			}
			.collect-pop .read {
				border-left: 1px solid var(--color-gray-border);
				width: 60px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.collect-pop .read:hover {
				background: var(--color-hover);
				cursor: pointer;
			}
			.collect-pop .icon-read {
				font-size: 20px;
				color: var(--color-yellow);
			}
			.collect-pop .tag-pane {
				position: absolute;
				width: 160px;
				border-radius: 16px;
				top: 75px;
				right: 0;
				padding-bottom: 8px;
				overflow: hidden;
				background-color: var(--color-black);
			}
			.collect-pop .tag-pane .item {
				height: 30px;
				line-height: 30px;
				padding: 0 16px;
				display: flex;
				align-items: center;
				color: #fff;
				white-space: nowrap;
			}
			.collect-pop .tag-pane .tag-search-input-container {
				padding: 16px;
			}
			.collect-pop .tag-pane .tag-search-input {
				display: block;
				height: 35px;
				line-height: 35px;
				border: 1px solid var(--color-yellow);
				padding-left: 12px;
				border-radius: 8px;
				box-sizing: border-box;
				width: 100%;
				color: #fff;
				background-color: transparent;
			}
			.collect-pop .tag-pane .tag-search-input::placeholder {
				color: var(--color-placeholder);
			}
			.collect-pop .tag-pane .icon-check,
			.collect-pop .tag-pane .icon-add {
				font-size: 18px;
				margin-right: 6px;
				color: var(--color-icon);
			}
			.collect-pop .tag-pane .icon-checked {
				color: var(--color-yellow);
			}
			.collect-pop .tag-pane .item:hover {
				cursor: pointer;
				background-color: var(--color-hover);
			}
			.collect-pop .more-pane {
				position: absolute;
				width: 160px;
				border-radius: 16px;
				padding: 8px 0;
				top: 75px;
				right: 0;
				background-color: var(--color-black);
			}
			.collect-pop .more-pane .item {
				height: 30px;
				line-height: 30px;
				padding-left: 16px;
				font-size: 13px;
				cursor: pointer;
				display: flex;
				align-items: center;
				color: var(--color-text-gray);
			}
			.collect-pop .more-pane .item:hover {
				background: var(--color-hover);
			}
			.collect-pop .more-pane .item i {
				color: var(--color-icon);
				font-size: 16px;
				margin-right: 6px;
			}
		</style>
		<style type="text/css">
			.toast {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 99;
				width: 100%;
				justify-content: center;
				align-items: center;
				display: flex;
				z-index: 2147483647;
				animation: fadeindown linear 0.2s;
			}

			.toast.hide {
				animation: fadeoutup linear 0.2s;
			}

			@keyframes fadeindown {
				from {
					opacity: 0;
					transform: translateY(-60px);
				}

				to {
					opacity: 1;
					transform: translateY(0);
				}
			}


			@keyframes fadeoutup {
				from {
					opacity: 1;
					transform: translateY(0);
				}

				to {
					opacity: 0;
					transform: translateY(-60px);
				}
			}

			.toast-message {
				margin-top: 24px;
				display: inline-flex;
				align-items: center;
				font-size: 14px;
				background: rgba(0, 0, 0, 0.7);
				backdrop-filter: blur(2px);
				padding: 12px 14px;
				color: #ffffff;
				border-radius: 8px;
				position: relative;
				font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
			}
		</style><link rel="stylesheet" type="text/css" id="clearly-content-css" href="chrome-extension://odfonlkabodgbolnmmkdijkaeggofoop/assets/styles/frame.css"><link rel="stylesheet" type="text/css" id="clearly-remixin-icon" href="chrome-extension://odfonlkabodgbolnmmkdijkaeggofoop/assets/fonts/remixicon/remixicon.css"><link rel="stylesheet" type="text/css" id="clearly-remixin-icon-platform" href="chrome-extension://odfonlkabodgbolnmmkdijkaeggofoop/assets/fonts/remixicon/remixicon-chrome.css"></head>
	<body>
		<div id="app">
			<section class="layout-container">
				<header class="app-header">
					<div class="admin-left-logo">
						<div class="admin-left-logo-container">
							<div class="admin-logo">
								<a href="/admin/index">
									<div class="logo-image" style="background-image: url('/img/logo/logo.png');"></div>
								</a>
							</div>
						</div>
					</div>
					<div class="admin-header-right">
						<div class="header-helper">
							<a href="" class="admin-help-link">
								<div>
									<span class="universe-icon helper">
										<i class="fa-regular fa-circle-question"></i>
									</span>
								</div>
							</a>
						</div>
						<div class="hSeperater"></div>
						<span>
							<div class="module-container">
								<div class="module-icon-container">
									<span class="universe-icon">
										<a class="fa-brands fa-symfony" href="/_profiler/empty/search/results?limit=20" target="_blank"></a>
									</span>
								</div>
							</div>
						</span>
						<span>
							<div class="hPerson-container">
								<div class="hPerson-control">
									<div class="hPerson-avatar-box">
										<div class="hPerson-avatar">Tony</div>
										<div class="hPerson-content">
											<div class="hPerson-name">Tony Gao</div>
										</div>
										<div class="hPerson-caret">
											<i class="fa-solid fa-angle-down"></i>
										</div>
									</div>
								</div>
								<div class="dropdown-menu hidden">
									<div class="dropdown-header">
										<div class="align-items-center">
											<span>
												<div class="hPerson-avatar">Tony</div>
											</span>
											<div class="hPerson-info-text">
												<div class="hPerson-info-title">
													研发工程师 高强
												</div>
												<div class="text-content">
													linuxertony@163.com
												</div>
											</div>
										</div>
									</div>
									<div class="dropdown-divider" style="margin: 0!important;"></div>
									<a href="#" class="dropdown-item">
										<span>Settings</span>
									</a>
									<div class="dropdown-divider" style="margin: 0!important;"></div>
									<div class="dropdown-multilevel">
										<div class="dropdown-item">
											<span>Language</span>
											<i class="fa-solid fa-angle-right"></i>
										</div>
										<div class="dropdown-menu">
											<a href="#" class="dropdown-item">中文</a>
											<a href="#" class="dropdown-item">English</a>
										</div>
									</div>
									<div class="dropdown-divider" style="margin: 0!important;"></div>
									<a href="#" class="dropdown-item">
										<span>退出登录</span>
									</a>
								</div>
							</div>
						</span>
					</div>
				</header>
				<section class="app-body">
					<section class="app-side-menu">
						<aside class="admin-aside-outer">
							<div class="side-menu-one">
								<div class="side-menu-two">
									<div class="universe-icon side-scroll-btn">
										<i class="fa-solid fa-angles-left"></i>
									</div>
									<div class="side-menu-content">


										<a class="side-home link item-menu-content " href="/admin/index">
											<div class="link-icon">
												<i class="fa-solid fa-house"></i>
											</div>
											<div class="link-text">
												<div class="link-text-content" style="max-width: 83%;">首页</div>
											</div>
										</a>

										<div class="parent-menu">
											<div class="item-menu-content scroll-item">
												<div class="link-icon">
													<i class="fa-solid fa-sitemap"></i>
												</div>
												<div class="link-text">
													<div class="link-text-content" style="max-width: 83%;">组织架构</div>
													<i class="fa-solid fa-chevron-down" style="transform: rotate(0deg);"></i>
												</div>
											</div>
											<div class="sub-menu-content" style="">
												<a class=" link item-menu-content " href="/admin/org/corporation">
													<div class="link-icon">
														<i class="fa-solid fa-building"></i>
													</div>
													<div class="link-text">
														<div class="link-text-content" style="max-width: 83%;">公司架构</div>
													</div>
												</a>

												<a class=" link item-menu-content " href="/admin/org/department">
													<div class="link-icon">
														<i class="fa-solid fa-people-roof"></i>
													</div>
													<div class="link-text">
														<div class="link-text-content" style="max-width: 83%;">部门管理</div>
													</div>
												</a>

												<a class=" link item-menu-content " href="/admin/org/title">
													<div class="link-icon">
														<i class="fa-solid fa-user-tie"></i>
													</div>
													<div class="link-text">
														<div class="link-text-content" style="max-width: 83%;">岗位管理</div>
													</div>
												</a>

												<a class=" link item-menu-content " href="/admin/org/grade">
													<div class="link-icon">
														<i class="fa-solid fa-layer-group"></i>
													</div>
													<div class="link-text">
														<div class="link-text-content" style="max-width: 83%;">职级管理</div>
													</div>
												</a>

												<div class="parent-menu">
													<div class="item-menu-content scroll-item">
														<div class="link-icon">
															<i class="fa-solid fa-people-group"></i>
														</div>
														<div class="link-text">
															<div class="link-text-content" style="max-width: 83%;">人员管理</div>
															<i class="fa-solid fa-chevron-down" style="transform: rotate(0deg);"></i>
														</div>
													</div>
													<div class="sub-menu-content" style="">
														<a class=" link item-menu-content " href="/admin/hr/employee">
															<div class="link-icon">
																<i class="fa-solid fa-address-card"></i>
															</div>
															<div class="link-text">
																<div class="link-text-content" style="max-width: 83%;">人员信息</div>
															</div>
														</a>

													</div>
												</div>

											</div>
										</div>

										<div class="parent-menu">
											<div class="item-menu-content scroll-item">
												<div class="link-icon">
													<i class="fa-solid fa-database"></i>
												</div>
												<div class="link-text">
													<div class="link-text-content" style="max-width: 83%;">模型和接口</div>
													<i class="fa-solid fa-chevron-down" style="transform: rotate(0deg);"></i>
												</div>
											</div>
											<div class="sub-menu-content" style="">
												<a class=" link item-menu-content current" href="/admin/platform/entity/index">
													<div class="link-icon">
														<i class="fa-solid fa-coins"></i>
													</div>
													<div class="link-text">
														<div class="link-text-content" style="max-width: 83%;">模型管理</div>
													</div>
												</a>

												<a class=" link item-menu-content " href="/admin/platform/restful/index">
													<div class="link-icon">
														<i class="fa-solid fa-manat-sign"></i>
													</div>
													<div class="link-text">
														<div class="link-text-content" style="max-width: 83%;">接口管理</div>
													</div>
												</a>

											</div>
										</div>

									</div>
								</div>
							</div>
						</aside>
					</section>
					<section class="app-content-container">
						<div class="org-sturcture-container">
							<div class="outside-wrapper">
								<div class="inside-wrapper">
									<div class="left-tree visible">
										<div class="left-tree-wrapper">
											<div class="search-department-wrapper">
												<span class="ef-input-wrapper">
													<input class="ef-input ef-input-size-mini text" type="text" clearable="true" placeholder="请输入实体、字段名称">
													<span class="ef-input-suffix">
														<i class="fa-solid fa-magnifying-glass"></i>
													</span>
												</span>
											</div>
											<div class="department-tree-wrapper">
												<ol class="ol-left-tree">
													<li>
														<div class="item-content scroll-item">
															<div class="arrow-icon">
																<i class="fa-solid fa-caret-down"></i>
															</div>
															<div class="org-icon">
																<i class="fa-solid fa-database"></i>
															</div>
															<div class="node-name">
																<div class="tree-text-content">模型</div>
															</div>
														</div>
														<span class="tree-indent"></span>
														<ol class="sub-tree-content">
															<li>
																<div class="item-content scroll-item">
																	<div class="arrow-icon">
																		<i class="fa-solid fa-caret-right"></i>
																	</div>
																	<div class="org-icon">
																		<i class="fa-solid fa-table"></i>
																	</div>
																	<div class="node-name">
																		<div class="tree-text-content branch" type="entity" id="3280d7bd84c5a24ba37efbc95a1b17a366a8caad">Company</div>
																	</div>
																</div>
																<span class="tree-indent" style="display: none;"></span>
																<ol class="sub-tree-content" style="display: none;">
																	<li>
																		<div class="item-content scroll-item">
																			<div class="arrow-icon">
																				<i class="fa-solid fa-caret-right"></i>
																			</div>
																			<div class="org-icon">
																				<i class="fa-solid fa-o"></i>
																			</div>
																			<div class="node-name">
																				<div class="tree-text-content branch" type="branch">公司基础信息</div>
																			</div>
																		</div>
																		<span class="tree-indent" style="display: none;"></span>
																		<ol class="sub-tree-content" style="display: none;">
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">name</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">alias</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">code</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">remark</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">orderNum</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">repetitionNumHandling</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">state</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">loginIndependent</div>
																					</div>
																				</div>
																			</li>
																		</ol>
																	</li>
																	<li>
																		<div class="item-content scroll-item">
																			<div class="arrow-icon">
																				<i class="fa-solid fa-caret-right"></i>
																			</div>
																			<div class="org-icon">
																				<i class="fa-solid fa-o"></i>
																			</div>
																			<div class="node-name">
																				<div class="tree-text-content branch" type="branch">公司相关信息</div>
																			</div>
																		</div>
																		<span class="tree-indent" style="display: none;"></span>
																		<ol class="sub-tree-content" style="display: none;">
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">parent</div>
																					</div>
																				</div>
																			</li>
																		</ol>
																	</li>
																</ol>
															</li>
															<li>
																<div class="item-content scroll-item">
																	<div class="arrow-icon">
																		<i class="fa-solid fa-caret-right"></i>
																	</div>
																	<div class="org-icon">
																		<i class="fa-solid fa-table"></i>
																	</div>
																	<div class="node-name">
																		<div class="tree-text-content branch" type="entity" id="1a5e749751aa6f296a7e9c58cb93e6267065057c">Corporation</div>
																	</div>
																</div>
																<span class="tree-indent" style="display: none;"></span>
																<ol class="sub-tree-content" style="display: none;">
																	<li>
																		<div class="item-content scroll-item">
																			<div class="arrow-icon">
																				<i class="fa-solid fa-caret-right"></i>
																			</div>
																			<div class="org-icon">
																				<i class="fa-solid fa-o"></i>
																			</div>
																			<div class="node-name">
																				<div class="tree-text-content branch" type="branch">集团基础信息</div>
																			</div>
																		</div>
																		<span class="tree-indent" style="display: none;"></span>
																		<ol class="sub-tree-content" style="display: none;">
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">name</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">alias</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">code</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">remark</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">president</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">address</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">phone</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">website</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">email</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">type</div>
																					</div>
																				</div>
																			</li>
																		</ol>
																	</li>
																</ol>
															</li>
															<li>
																<div class="item-content scroll-item">
																	<div class="arrow-icon">
																		<i class="fa-solid fa-caret-right"></i>
																	</div>
																	<div class="org-icon">
																		<i class="fa-solid fa-table"></i>
																	</div>
																	<div class="node-name">
																		<div class="tree-text-content branch" type="entity" id="05fa806c705cde60a30fd5b9f02f4c45c943abeb">Department</div>
																	</div>
																</div>
																<span class="tree-indent" style="display: none;"></span>
																<ol class="sub-tree-content" style="display: none;">
																	<li>
																		<div class="item-content scroll-item">
																			<div class="arrow-icon">
																				<i class="fa-solid fa-caret-right"></i>
																			</div>
																			<div class="org-icon">
																				<i class="fa-solid fa-o"></i>
																			</div>
																			<div class="node-name">
																				<div class="tree-text-content branch" type="branch">部门基础信息</div>
																			</div>
																		</div>
																		<span class="tree-indent" style="display: none;"></span>
																		<ol class="sub-tree-content" style="display: none;">
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">name</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">alias</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">orderNum</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">code</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">state</div>
																					</div>
																				</div>
																			</li>
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">company</div>
																					</div>
																				</div>
																			</li>
																		</ol>
																	</li>
																	<li>
																		<div class="item-content scroll-item">
																			<div class="arrow-icon">
																				<i class="fa-solid fa-caret-right"></i>
																			</div>
																			<div class="org-icon">
																				<i class="fa-solid fa-o"></i>
																			</div>
																			<div class="node-name">
																				<div class="tree-text-content branch" type="branch">部门显示名称</div>
																			</div>
																		</div>
																		<span class="tree-indent" style="display: none;"></span>
																		<ol class="sub-tree-content" style="display: none;">
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">displayName</div>
																					</div>
																				</div>
																			</li>
																		</ol>
																	</li>
																	<li>
																		<div class="item-content scroll-item">
																			<div class="arrow-icon">
																				<i class="fa-solid fa-caret-right"></i>
																			</div>
																			<div class="org-icon">
																				<i class="fa-solid fa-o"></i>
																			</div>
																			<div class="node-name">
																				<div class="tree-text-content branch" type="branch">部门管理信息</div>
																			</div>
																		</div>
																		<span class="tree-indent" style="display: none;"></span>
																		<ol class="sub-tree-content" style="display: none;">
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">manager</div>
																					</div>
																				</div>
																			</li>
																		</ol>
																	</li>
																	<li>
																		<div class="item-content scroll-item">
																			<div class="arrow-icon">
																				<i class="fa-solid fa-caret-right"></i>
																			</div>
																			<div class="org-icon">
																				<i class="fa-solid fa-o"></i>
																			</div>
																			<div class="node-name">
																				<div class="tree-text-content branch" type="branch">部门相关信息</div>
																			</div>
																		</div>
																		<span class="tree-indent" style="display: none;"></span>
																		<ol class="sub-tree-content" style="display: none;">
																			<li>
																				<div class="item-content scroll-item">
																					<div class="arrow-icon"></div>
																					<div class="org-icon">
																						<i class="fa-solid fa-o"></i>
																					</div>
																					<div class="node-name">
																						<div class="tree-text-content branch" type="branch">parent</div>
																					</div>
																				</div>
																			</li>
																		</ol>
																	</li>
																</ol>
															</li>
														</ol>
													</li>
												</ol>
											</div>
										</div>
										<div class="fold-icon-wrapper collapse" id="collapseCompany">
											<i class="fa-solid fa-play"></i>
										</div>
									</div>
									<div class="right-content">
										<div class="empty-content" id="platform-entity-empty" style="display: none;">
											<img src="/img/status/empty.png" width="587px">
										</div>
										<div id="platform-entity" class="ef-tabs tabs-container" style="">
											<div class="tabs-header tabs-header-plain" style="">
												<div class="tabs-scroller-left" style="display: none;">
													<i class="fa-solid fa-angles-left"></i>
												</div>
												<div class="tabs-scroller-right" style="display: none;">
													<i class="fa-solid fa-angles-right"></i>
												</div>
												<div class="tabs-wrap" style="">
													<ul class="tabs" style="margin-left: 0px;">

														<li id="tab-05fa806c705cde60a30fd5b9f02f4c45c943abeb" class="tabs-selected">
															<span class="tabs-inner">
																<span class="tabs-title tabs-closable">Department</span>
																<span class="ef-tabs-close">
																	<i class="fa-solid fa-xmark"></i>
																</span>
															</span>
														</li>
													</ul>
												</div>
											</div>
											<div class="tabs-panels" style="">
												<div class="panel panel-htop" style="" liid="tab-05fa806c705cde60a30fd5b9f02f4c45c943abeb">
													<div title="" style="padding: 10px;" class="panel-body panel-body-noheader panel-body-noborder" id="">
														<div title="" style="padding: 10px;" class="panel-body panel-body-noheader panel-body-noborder" id="">
															<div class="ef-table ef-table-size-large ef-table-border ef-table-hover" style="width: fit-content;">
																<div class="toolbar-box">
																	<div class="toolbar-wrap">
																		<div class="toolbar-content">
																			<button class="create btn outline primary medium mini round icon" token="05fa806c705cde60a30fd5b9f02f4c45c943abeb">
																				<i class="fa-regular fa-square-plus"></i>添加自定义字段</button>
																			<button class="group btn outline primary medium mini round icon" token="05fa806c705cde60a30fd5b9f02f4c45c943abeb">
																				<i class="fa-regular fa-object-group"></i>字段分组管理</button>
																		</div>
																	</div>
																</div>
																<div class="ef-spin">
																	<div class="ef-table-container">
																		<div class="ef-scrollbar ef-scrollbar-type-embed" style="height: 100%;">
																			<div class="ef-scrollbar-container ef-table-content ef-table-content-scroll-x">
																				<table class="ef-table-element" cellpadding="0" cellspacing="0">
																					<colgroup><col><col><col><col></colgroup>
																					<thead>
																						<tr class="ef-table-tr">
																							<th class="ef-table-th">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-th-title">name</span>
																								</span>
																							</th>
																							<th class="ef-table-th">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-th-title">comment</span>
																								</span>
																							</th>
																							<th class="ef-table-th">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-th-title">type</span>
																								</span>
																							</th>
																							<th class="ef-table-th">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-th-title">length</span>
																								</span>
																							</th>
																							<th class="ef-table-th">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-th-title">entity</span>
																								</span>
																							</th>
																							<th class="ef-table-th">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-th-title">group</span>
																								</span>
																							</th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr class="ef-table-tr">
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										alias</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门简称</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										string</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										80</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										Department.php</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门基础信息</span>
																								</span>
																							</td>
																						</tr>
																						<tr class="ef-table-tr">
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										code</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										编码</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										string</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										180</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										Department.php</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门基础信息</span>
																								</span>
																							</td>
																						</tr>
																						<tr class="ef-table-tr">
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										company</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										所属公司</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										entity</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content"></span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										Department.php</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门基础信息</span>
																								</span>
																							</td>
																						</tr>
																						<tr class="ef-table-tr">
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										name</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门全称</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										string</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										180</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										Department.php</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门基础信息</span>
																								</span>
																							</td>
																						</tr>
																						<tr class="ef-table-tr">
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										orderNum</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										排序号</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										integer</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content"></span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										Department.php</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门基础信息</span>
																								</span>
																							</td>
																						</tr>
																						<tr class="ef-table-tr">
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										state</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										状态: 启用、停用</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										boolean</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content"></span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										Department.php</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门基础信息</span>
																								</span>
																							</td>
																						</tr>
																						<tr class="ef-table-tr">
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										displayName</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门显示名称</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										string</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										200</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										Department.php</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门显示名称</span>
																								</span>
																							</td>
																						</tr>
																						<tr class="ef-table-tr">
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										manager</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门负责人</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										entity</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content"></span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										Department.php</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门管理信息</span>
																								</span>
																							</td>
																						</tr>
																						<tr class="ef-table-tr">
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										parent</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										上级部门(树状)</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										department</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content"></span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										Department.php</span>
																								</span>
																							</td>
																							<td class="ef-table-td">
																								<span class="ef-table-cell ef-table-cell-align-left">
																									<span class="ef-table-td-content">
																										部门相关信息</span>
																								</span>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</section>
			</section>


			<div class="ef-drawer-container" style="z-index: 1001;" id="drawer05fa806c705cde60a30fd5b9f02f4c45c943abeb" entitytoken="05fa806c705cde60a30fd5b9f02f4c45c943abeb">
				<div class="ef-drawer-mask" maskid="drawer05fa806c705cde60a30fd5b9f02f4c45c943abeb"></div>
				<div class="ef-drawer" style="right: 0px; width: 840px;">
					<div class="ef-drawer-header">
						<div class="ef-drawer-title">
							添加字段
						</div>

						<div class="ef-drawer-addon" style="display: flex; justify-content: center; align-items: center;">
							<span style="margin-right: 10px;">默认分组</span>
							<span>
								<input type="hidden" component="select" id="form_entityGroup" name="form[entityGroup]" required="" value="1995">
								<span class="ef-select-view-single ef-select ef-select-view ef-select-view-size-medium ef-select-view-search" style="max-width: 320px;" chosen="true" for="" id="1842601725" contentid="767554470">
									<input class="ef-select-view-input  ef-select-view-input-hidden " placeholder="Please select ...">
									<span class="ef-select-view-value ">部门基础信息</span>
									<span class="ef-select-view-suffix">
										<span class="ef-select-view-icon">
											<i class="fa-regular fa-circle-xmark"></i>

										</span>
									</span>
								</span>
								<div class="ef-trigger-popup ef-trigger-position-bl" trigger-placement="bl" for="" style="z-index: 1001; pointer-events: auto; min-width: 200px; display: none;" id="767554470" parentid="1842601725">
									<div class="ef-trigger-popup-wrapper" style="transform-origin: 0px 0px;">
										<div class="ef-trigger-content">
											<div class="ef-select-dropdown">
												<div class="ef-scrollbar ef-scrollbar-type-embed" style="">
													<div class="ef-scrollbar-container ef-select-dropdown-list-wrapper">
														<ul class="ef-select-dropdown-list">
															<li id="940051544" value="1995" class="ef-select-option  ef-select-option-active ">
																<span class="ef-select-option-content">部门基础信息</span>
															</li>
															<li id="1653406758" value="1998" class="ef-select-option ">
																<span class="ef-select-option-content">部门显示名称</span>
															</li>
															<li id="275363255" value="2004" class="ef-select-option ">
																<span class="ef-select-option-content">部门管理信息</span>
															</li>
															<li id="1722721087" value="2006" class="ef-select-option ">
																<span class="ef-select-option-content">部门相关信息</span>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</span>
						</div>
						<div tabindex="-1" role="button" aria-label="Close" class="ef-drawer-close-btn">
							<span class="ef-icon-hover">
								<svg viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" class="ef-icon ef-icon-close" stroke-width="4" stroke-linecap="butt" stroke-linejoin="miter">
									<path d="M9.857 9.858 24 24m0 0 14.142 14.142M24 24 38.142 9.858M24 24 9.857 38.142"></path>
								</svg>
							</span>
						</div>
					</div>
					<div class="ef-drawer-body">
						<form action="/api/admin/platform/entity/submitFields" method="post" id="submitFields">
							<div class="ef-col-24" id="ef-drawer-body-form">
								<div class="ef-row ef-row-align-start ef-row-justify-start">
									<div class="ef-col-6" style="padding-left: 12px; padding-right: 12px;">
										<div class="ud__col ud__form__item__label">
											<label class="ud__form__item-required" title="字段名">字段名<div class="ud__form__item__required-mark">*</div>
											</label>
										</div>
                    <div class="ef-field-control-wrapper">
                      <span class="ef-input-wrapper" style="max-width: 320px;">
                        <input component="input" class="ef-input ef-input-size-medium fieldComment" clearable="true" type="text" id="d1e168a874783d0c35f533ed5c057f2bf083a3fb" name="fieldCommentd1e168a874783d0c35f533ed5c057f2bf083a3fb" required="" fieldname="comment">
                      </span>
                    </div>
									</div>
									<div class="ef-col-6" style="padding-left: 12px; padding-right: 12px;">
										<div class="ud__col ud__form__item__label">
											<label class="ud__form__item-required" title="字段英文名">字段英文名<div class="ud__form__item__required-mark">*</div>
											</label>
										</div>
                    <div class="ef-field-control-wrapper">
                      <span class="ef-input-wrapper" style="max-width: 320px;">
                        <input component="input" class="ef-input ef-input-size-medium fieldName" clearable="true" type="text" id="932280c7eddac0e2f54d00ae2feee30842a12f28" name="fieldName932280c7eddac0e2f54d00ae2feee30842a12f28" required="" fieldname="name">
                      </span>
                    </div>
									</div>
									<div class="ef-col-5" style="padding-left: 12px; padding-right: 12px;">
										<div class="ud__col ud__form__item__label">
											<label class="ud__form__item-required" title="字段类型">字段类型<div class="ud__form__item__required-mark">*</div>
											</label>
										</div>
                    <div class="ef-field-control-wrapper">
                      <input type="hidden" component="select" id="61759c087469e129aba36724a2772c6726ad5cd6" name="fieldType61759c087469e129aba36724a2772c6726ad5cd6" required="" value="text">
                      <span class="ef-select-view-single ef-select ef-select-view ef-select-view-size-medium ef-select-view-search ef-select-view-opened" style="max-width: 320px;" chosen="true" for="" id="756771069" contentid="1849000434">
                        <input class="ef-select-view-input ef-select-view-input-hidden" placeholder="Please select ...">
                        <span class="ef-select-view-value">文本</span>
                        <span class="ef-select-view-suffix">
                          <span class="ef-select-view-icon">
                            <i class="fa-regular fa-circle-xmark"></i>
                          </span>
                        </span>
                      </span>
                      <div class="ef-trigger-popup ef-trigger-position-bl" trigger-placement="bl" for="" style="z-index: 1001; pointer-events: auto; min-width: 200px; left: 432px; top: 72px; display: none;" id="1849000434" parentid="756771069">
                        <div class="ef-trigger-popup-wrapper" style="transform-origin: 0px 0px;">
                          <div class="ef-trigger-content">
                            <div class="ef-select-dropdown">
                              <div class="ef-scrollbar ef-scrollbar-type-embed" style="">
                                <div class="ef-scrollbar-container ef-select-dropdown-list-wrapper">
                                  <ul class="ef-select-dropdown-list">
                                    <li id="227186271" value="text" class="ef-select-option ef-select-option-active">
                                      <span class="ef-select-option-content">文本</span>
                                    </li>
                                    <li id="988488470" value="link" class="ef-select-option">
                                      <span class="ef-select-option-content">网页</span>
                                    </li>
                                    <li id="2015884768" value="options" class="ef-select-option ">
                                      <span class="ef-select-option-content">选项</span>
                                    </li>
                                    <li id="1277209122" value="user" class="ef-select-option ">
                                      <span class="ef-select-option-content">人员</span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
									</div>
									<div class="ef-col-6" style="padding-left: 12px; padding-right: 12px;">
										<div class="ud__col ud__form__item__label">
											<label class="ud__form__item-required" title="分组">分组<div class="ud__form__item__required-mark">*</div>
											</label>
										</div>
                    <div class="ef-field-control-wrapper">
                      <input type="hidden" component="select" id="99c9f92110f7c700e5987bc34b6932c29e7fccad" name="fieldGroup99c9f92110f7c700e5987bc34b6932c29e7fccad" required="" value="1995">
                      <span class="ef-select-view-single ef-select ef-select-view ef-select-view-size-medium ef-select-view-search" style="max-width: 320px;" chosen="true" for="" id="1234691391" contentid="400673193">
                        <input class="ef-select-view-input  ef-select-view-input-hidden " placeholder="Please select ...">
                        <span class="ef-select-view-value ">部门基础信息</span>
                        <span class="ef-select-view-suffix">
                          <span class="ef-select-view-icon">
                            <i class="fa-regular fa-circle-xmark"></i>

                          </span>
                        </span>
                      </span>
                      <div class="ef-trigger-popup ef-trigger-position-bl" trigger-placement="bl" for="" style="z-index: 1001; pointer-events: auto; min-width: 200px; left: 600.328px; top: 72px; display: none;" id="400673193" parentid="1234691391">
                        <div class="ef-trigger-popup-wrapper" style="transform-origin: 0px 0px;">
                          <div class="ef-trigger-content">
                            <div class="ef-select-dropdown">
                              <div class="ef-scrollbar ef-scrollbar-type-embed" style="">
                                <div class="ef-scrollbar-container ef-select-dropdown-list-wrapper">
                                  <ul class="ef-select-dropdown-list">
                                    <li id="927635233" value="1995" class="ef-select-option  ef-select-option-active ">
                                      <span class="ef-select-option-content">部门基础信息</span>
                                    </li>
                                    <li id="1786119362" value="1998" class="ef-select-option ">
                                      <span class="ef-select-option-content">部门显示名称</span>
                                    </li>
                                    <li id="2012883623" value="2004" class="ef-select-option ">
                                      <span class="ef-select-option-content">部门管理信息</span>
                                    </li>
                                    <li id="161065085" value="2006" class="ef-select-option ">
                                      <span class="ef-select-option-content">部门相关信息</span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
									</div>
									<div class="ef-col-1" style="padding-left: 12px; padding-right: 12px;">
										<div class="ud__col ud__form__item__label">
											<label class="ud__form__item-required">
												<div class="ud__form__item__required-mark"></div>
											</label>
										</div>
										<i class="fa-solid fa-circle-xmark close-field-row" style="font-size: larger;"></i>
									</div>
								</div>
                <div class="ef-field-attr-action-bar">
                  <div class="ef-col-24">
                    <div class="ef-row ef-row-align-start ef-row-justify-start ef-row-vertical-center">
                        <div class="ef-col-6" style="padding-left: 12px; padding-right: 12px;">
                          <div class="ud__col ud__form__item__label">
                            <label class="ud__form__item-required" title="字段长度">字段长度<div class="ud__form__item__required-mark">*</div>
                            </label>
                          </div>
                          <div class="ef-field-control-wrapper">
                            <span class="ef-input-wrapper" style="max-width: 320px;">
                              <input component="input" class="ef-input ef-input-size-medium fieldComment" clearable="true" type="text" id="d1e168a874783d0c35f533ed5c057f2bf083a3fc" name="fieldCommentd1e168a874783d0c35f533ed5c057f2bf083a3fc" required="" fieldname="comment" value="255">
                            </span>
                          </div>
                        </div>

												<div class="ef-col-6" style="padding-left: 12px; padding-right: 12px;">
                          <div class="ud__col ud__form__item__label">
                            <label class="ud__form__item-required" title="默认值">默认值</label>
                          </div>
                          <div class="ef-field-control-wrapper">
                            <span class="ef-input-wrapper" style="max-width: 320px;">
                              <input component="input" class="ef-input ef-input-size-medium fieldComment" clearable="true" type="text" id="d1e168a874783d0c35f533ed5c057f2bf083a3fc" name="fieldCommentd1e168a874783d0c35f533ed5c057f2bf083a3fc" required="" fieldname="comment">
                            </span>
                          </div>
                        </div>

												<div class="ef-col-3" style="padding-left: 12px; padding-right: 12px;">
                          <div class="ud__col ud__form__item__label">
                            <label class="ud__form__item-required" title="允许为空">允许为空</label>
                          </div>
                          <div class="ef-field-control-wrapper">
                            <label aria-disabled="false" class="ef-checkbox">
                              <input type="checkbox" class="ef-checkbox-target" value="0">
                              <span class="ef-icon-hover ef-checkbox-icon-hover">
                                <div class="ef-checkbox-icon"></div>
                              </span>
                            </label>
                          </div>
                        </div>

												<div class="ef-col-3" style="padding-left: 12px; padding-right: 12px;">
                          <div class="ud__col ud__form__item__label">
                            <label class="ud__form__item-required" title="唯一的">唯一的</label>
                          </div>
                          <div class="ef-field-control-wrapper">
                            <label aria-disabled="false" class="ef-checkbox">
                              <input type="checkbox" class="ef-checkbox-target" value="0">
                              <span class="ef-icon-hover ef-checkbox-icon-hover">
                                <div class="ef-checkbox-icon"></div>
                              </span>
                            </label>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>

							</div>
							<div class="ef-col-24" style="padding: 0 10px;">
								<button class="btn primary medium long" id="addField">新增字段</button>
							</div>
						</form>
					</div>
					<div class="ef-drawer-footer">
						<button class="cancelDrawer btn secondary medium" type="button">取消</button>
						<button class="confirmDrawer btn primary medium" type="button" id="submitFormButton">确定</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
