{% extends "base.html.twig" %}

{% block body %}
<button class="btn primary medium">审批通过</button>
<button class="btn secondary medium">驳回</button>
<button class="btn outline medium">同意</button>
<button class="btn primary medium icon"><i class="fa-solid fa-trash-can"></i>删除</button>
<button class="btn primary medium only-icon"><i class="fa-solid fa-trash-can"></i></button>
<button class="btn primary medium round">大圆角按钮</button>
<button class="btn primary medium icon circle"><i class="fa-solid fa-plus"></i></button>
<button class="btn secondary medium icon circle"><i class="fa-solid fa-ellipsis-vertical"></i></button>

<button class="btn primary mini">审批通过</button>
<button class="btn primary small">审批通过</button>
<button class="btn primary medium">审批通过</button>
<button class="btn primary large">审批通过</button>

<button class="btn green medium">成功</button>
<button class="btn orange medium">警告</button>
<button class="btn red medium">危险</button>

<br>

<button class="btn primary medium disabled">审批通过</button>
<button class="btn secondary medium disabled">驳回</button>
<button class="btn outline medium disabled">同意</button>
<button class="btn primary medium disabled icon"><i class="fa-solid fa-circle-notch icon-loading"></i>Loading</button>
<button class="btn secondary medium disabled icon"><i class="fa-solid fa-circle-notch icon-loading"></i>Loading</button>

<br>

<button class="btn primary medium long">审批通过</button>

<br>

<div class="ef buttons">
  <button class="btn secondary medium">Cancel</button>
  <div class="or"></div>
  <button class="btn green medium">Save</button>
</div>

<div class="ef buttons">
  <button class="btn secondary medium">Cancel</button>
  <div class="or"></div>
  <button class="btn primary medium">Save</button>
</div>

<div class="ef labeled btn">
  <div class="ef btn red medium">
    <i class="fa-solid fa-heart"></i>
    Like
  </div>
  <a class="ef basic red left pointing label">1,048</a>
</div>

<br>

<button class="btn style1 medium">审批通过</button>
<button class="btn style2 medium">审批通过</button>
<button class="btn style3 medium">审批通过</button>
<button class="btn style4 medium">审批通过</button>

<br>

<div class="ef buttons">
  <button class="btn primary medium icon"><i class="fa-solid fa-angle-left"></i>Prev</button>
  <button class="btn primary medium icon">Next<i class="fa-solid fa-angle-right"></i></button>
</div>

<div class="ef buttons">
  <button class="btn primary medium icon rightline"><i class="fa-solid fa-angle-left"></i>Prev</button>
  <button class="btn primary medium icon">Next<i class="fa-solid fa-angle-right"></i></button>
</div>

<div class="ef buttons">
  <button class="btn primary medium icon">One</button>
  <button class="btn green medium icon">Two</button>
  <button class="btn red medium icon">Three</button>
</div>

<div class="ef buttons">
  <button class="btn secondary medium icon rightline">One</button>
  <button class="btn secondary medium icon rightline">Two</button>
  <button class="btn secondary medium icon">Three</button>
</div>

<div class="ef buttons">
  <button class="btn secondary medium only-icon"><i class="fa-solid fa-align-left"></i></button>
  <button class="btn secondary medium only-icon"><i class="fa-solid fa-align-center"></i></button>
  <button class="btn secondary medium only-icon"><i class="fa-solid fa-align-right"></i></button>
</div>

<div class="ef buttons">
  <button class="btn secondary medium only-icon rightline"><i class="fa-solid fa-file"></i></button>
  <button class="btn secondary medium only-icon rightline"><i class="fa-solid fa-floppy-disk"></i></button>
  <button class="btn secondary medium only-icon rightline"><i class="fa-solid fa-upload"></i></button>
  <button class="btn secondary medium only-icon"><i class="fa-solid fa-download"></i></button>
</div>
{% endblock %}