{% extends "base.html.twig" %}


{% block body %}
<p>A design is a plan or specification for the construction of an object.</p>
<div class="ef-divider ef-horizontal"></div>
<p>A design is a plan or specification for the construction of an object.</p>
<div class="ef-divider ef-horizontal"></div>
<p>A design is a plan or specification for the construction of an object.</p>
<div class="ef-divider ef-horizontal"></div>
<p>A design is a plan or specification for the construction of an object.</p>

<br>

<p>A design is a plan or specification for the construction of an object.</p>
<div class="ef-divider ef-horizontal left">
  <span class="ef-divider-text ef-divider-text-left">Text</span>
</div>
<p>A design is a plan or specification for the construction of an object.</p>
<div class="ef-divider ef-horizontal center">
  <span class="ef-divider-text ef-divider-text-center">Text</span>
</div>
<p>A design is a plan or specification for the construction of an object.</p>
<div class="ef-divider ef-horizontal right">
  <span class="ef-divider-text ef-divider-text-right">Text</span>
</div>
<p>A design is a plan or specification for the construction of an object.</p>

<br>

<div class="divider-demo">
  <span>Item 1</span>
  <div class="ef-divider-vertical"></div>
  <span>Item 2</span>
  <div class="ef-divider-vertical"></div>
  <span>Item 3</span>
</div>
{% endblock %}