{% extends "base.html.twig" %}

{% block body %}
	<div class="ef-row ef-row-align-start ef-row-justify-start">
		<div class="ef-col-24" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>24 - 100%</div>
		</div>
	</div>

	<br>

	<div class="ef-row ef-row-align-start ef-row-justify-start">
		<div class="ef-col-12" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>12 - 50%</div>
		</div>
		<div class="ef-col-12" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>12 - 50%</div>
		</div>
	</div>

	<br>

	<div class="ef-row ef-row-align-start ef-row-justify-start">
		<div class="ef-col-8" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>8 - 33.33%</div>
		</div>
		<div class="ef-col-8" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>8 - 33.33%</div>
		</div>
		<div class="ef-col-8" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>8 - 33.33%</div>
		</div>
	</div>

	<br>

	<div class="ef-row ef-row-align-start ef-row-justify-start">
		<div class="ef-col-6" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>6 - 25%</div>
		</div>
		<div class="ef-col-6" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>6 - 25%</div>
		</div>
		<div class="ef-col-6" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>6 - 25%</div>
		</div>
		<div class="ef-col-6" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>6 - 25%</div>
		</div>
	</div>

  <br>

	<div class="ef-row ef-row-align-start ef-row-justify-start" style="--columns: 5;">
		<div class="ef-col ef-col-auto" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">auto1 - 20%</div>
		<div class="ef-col ef-col-auto" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">auto2 - 20%</div>
		<div class="ef-col ef-col-auto" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">auto3 - 20%</div>
		<div class="ef-col ef-col-auto" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">auto4 - 20%</div>
		<div class="ef-col ef-col-auto" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">auto5 - 20%</div>
	</div>

	<br>

	<div class="ef-row ef-row-align-start ef-row-justify-start">
		<div class="ef-col-4" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>4 - 16.66%</div>
		</div>
		<div class="ef-col-4" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>4 - 16.66%</div>
		</div>
		<div class="ef-col-4" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>4 - 16.66%</div>
		</div>
		<div class="ef-col-4" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>4 - 16.66%</div>
		</div>
		<div class="ef-col-4" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>4 - 16.66%</div>
		</div>
		<div class="ef-col-4" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>4 - 16.66%</div>
		</div>
	</div>

  <br>

	<div class="ef-row ef-row-align-start ef-row-justify-start" style="--columns: 7;">
		<div class="ef-col ef-col-auto" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">auto1 - 1/7</div>
		<div class="ef-col ef-col-auto" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">auto2 - 1/7</div>
		<div class="ef-col ef-col-auto" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">auto3 - 1/7</div>
		<div class="ef-col ef-col-auto" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">auto4 - 1/7</div>
		<div class="ef-col ef-col-auto" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">auto5 - 1/7</div>
		<div class="ef-col ef-col-auto" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">auto6 - 1/7</div>
		<div class="ef-col ef-col-auto" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">auto7 - 1/7</div>
	</div>

	<br>

	<div class="ef-row ef-row-align-start ef-row-justify-start">
		<div class="ef-col-3" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>3 - 12.5%</div>
		</div>
		<div class="ef-col-3" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>3 - 12.5%</div>
		</div>
		<div class="ef-col-3" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>3 - 12.5%</div>
		</div>
		<div class="ef-col-3" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>3 - 12.5%</div>
		</div>
		<div class="ef-col-3" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>3 - 12.5%</div>
		</div>
		<div class="ef-col-3" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>3 - 12.5%</div>
		</div>
		<div class="ef-col-3" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>3 - 12.5%</div>
		</div>
		<div class="ef-col-3" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>3 - 12.5%</div>
		</div>
	</div>

  <br>

	<div class="ef-row ef-row-align-start ef-row-justify-start" style="background-color: rgb(242,243,245);">
		<div class="ef-col-8" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>col - 8</div>
		</div>
		<div class="ef-col-8 ef-col-offset-8" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>col - 8 | offset - 8</div>
		</div>
	</div>

  <br>

  <div class="ef-row ef-row-align-start ef-row-justify-start" style="background-color: rgb(242,243,245);">
		<div class="ef-col-6 ef-col-offset-8" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>col - 6 | offset - 8</div>
		</div>
		<div class="ef-col-6 ef-col-offset-4" style="background-color: rgba(22,93,255,.9); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>col - 6 | offset - 4</div>
		</div>
	</div>

  <br>

  <div class="ef-row ef-row-align-start ef-row-justify-start">
		<div class="ef-col-12 ef-col-offset-8" style="background-color: rgb(106,161,255); height: 48px; line-height: 48px; color: white; text-align: center;">
			<div>col - 12 | offset - 8</div>
		</div>
	</div>

{% endblock %}
