{% extends "base.html.twig" %}

{% block body %}
<div>
	<label class="ef-label red">Red</label>
	<label class="ef-label orange">Orange</label>
	<label class="ef-label yellow">Yellow</label>
	<label class="ef-label olive">Olive</label>
	<label class="ef-label green">Green</label>
	<label class="ef-label teal">Teal</label>
	<label class="ef-label blue">Blue</label>
	<label class="ef-label violet">Violet</label>
	<label class="ef-label purple">Purple</label>
	<label class="ef-label pink">Pink</label>
	<label class="ef-label brown">Brown</label>
	<label class="ef-label grey">Grey</label>
	<label class="ef-label black">Black</label>
</div>
<div style="margin-top: 50px;">
	<div class="ef-label mini">
		Mini
	</div>
	<div class="ef-label tiny">
		Tiny
	</div>
	<div class="ef-label small">
		Small
	</div>
	<div class="ef-label">
		Medium
	</div>
	<div class="ef-label large">
		Large
	</div>
	<div class="ef-label big">
		Big
	</div>
	<div class="ef-label huge">
		Huge
	</div>
	<div class="ef-label massive">
		Massive
	</div>
</div>
{% endblock %}
