{% extends "base.html.twig" %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}

{% block body %}
<button type="button" role="switch" aria-checked="false" class="ef-switch ef-switch-type-circle">
  <span class="ef-switch-handle">
    <span class="ef-switch-handle-icon"></span>
  </span>
</button>
<br>
<button type="button" role="switch" aria-checked="false" class="ef-switch ef-switch-type-circle ef-switch-small">
  <span class="ef-switch-handle">
    <span class="ef-switch-handle-icon"></span>
  </span>
</button>
{% endblock %}
