<li>
  <div class="item-content scroll-item">
    <div class="arrow-icon"></div>
    <div class="org-icon">
      <i class="fa-solid fa-user-group"></i>
    </div>
    <div class="org-name">
      <div class="org-text-content department" type="department" path="{{ path }}" id="{{ id }}">{{ name }}</div>
    </div>
  </div>
</li>